.footerSec {
    background-color: @themeColor3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2vh;
    text-align: center;
    align-items: center;
}
.footerDivs {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;


}
.footerH3 {
    .flexCenter;
}

.footerH3 h3 {
    font-size: 2rem;
    font-family: @fontMain;
}
.footerSec img {
    margin-top: 2vh;
    width: 3vh;
    height: 3vh;
    margin-right: 2rem;
}



