
/************************HERO SECTION************************/
.heroSec img {
    object-fit: cover;
    width: 100%;
    height: 56vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
    }

.heroSec h1 {
    color: @themeColor;
    font-family: @fontMain;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    @media (max-width: 500px) {
        top: 35%;
    }
}
.heroSec p {
    color: @themeColor;
    font-family: @fontMain;
    font-size: .9rem;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-30%, -1%);
        @media (max-width: 500px) {
        top: 46%;
    }
}
.heroButt {
    color: black;
    background-color: @themeColor2;
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family: @fontSecond;
    font-weight:400;
    text-align:center;
    transition: all 0.15s;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
        @media (max-width: 500px) {
        top: 67%;
}
}

.heroButt:hover {
    color:#DDDDDD;
}

.heroButt:active {
    color:#BBBBBB;
}


/************************HOW IT WORKS SECTION************************/
.howSec {
    background-color: @themeColor1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vh;
    text-align: center;
}
.howDivs {
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.howH3 {
    .flexCenter;
}
.howH3 h3 {
    font-size: 2rem;
}
.howSec img {
    height: 50vh;
    width: 50vh;
    max-width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}

.howSec p {
    margin-top: 1vh;
    font-family: @fontSecond;
}
.howSec h3 {
    margin: 5vh;
    font-family: @fontMain;
}



/************************FEATURES************************/
.featSec {
    background-color: @themeColor1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vh;
    text-align: center;
}
.featDivs {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    }

    
.featH3 {
    .flexCenter;
}
.featH3 h3 {
    font-size: 2rem;
}
.featSec img {
    margin: 15vh;
    height: 44vh;
    width: 44vh;
    max-width: 100%;
    object-fit: cover;
    margin-top: 20h;
    border-radius: 50%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            @media (max-width: 800px) {
        width: 10vh;
        height: 10vh;
    }
}

.featSec p {
    font-family: @fontSecond;
}
.featSec h3 {
    margin: 5vh;
    font-family: @fontMain;
}
/************************TESTIMONIAL SECTION************************/
.testSec {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vh;
    text-align: center;
}
.testDivs {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
    @media (max-width: 800px) {
        flex-direction: column;
    }
}


.testH3 {
    .flexCenter;
}
.testH3 h3 {
    font-size: 2rem;
}
.testSec img {
    object-fit: cover;
    height: 44vh;
    width: 44vh;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}

.testSec p {
    margin-top: 1vh;
    font-family: @fontSecond;
    font-style: italic;
}
.testSec h3 {
    margin: 5vh;
    font-family: @fontMain;
}

