  
    nav {
        font-family: @fontSecond;
        .align-flex;   

        a {
            text-decoration: none;
            font-size: 1rem;
            padding-left: 1rem;
            margin: 1rem;
        }
        button {
            font-size: 1rem;
            padding: .9rem;
            font-family: @fontSecond;
        }
    }



    